body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f4f8;
}
header {
    background: #0a1f44;
    color: white;
    padding: 25px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0a1f44;
    font-weight: bold;
}
nav a:hover {
    color: #1e90ff; /*ярко-синий при наведении*/
}

footer {
    background: #0a1f44; /*темно-синий подвал*/
    padding: 25px;
    text-align: center;
    margin-top: 45px;
    color: white;
}
img {
    max-width: 305px;
    margin: 15px;
    border: 3px solid #1e90ff; /* синяя рамка  */
    border-radius: 9px;
}