<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>local-it</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
<header>
    <h1>Добро пожаловать на local-it!</h1>
    <p>Пока что пустая страница</p>
</header>

<section>
   <h2>Наши фотографии</h2>
   <img src="https://via.placeholder.com/305x205" alt="Фото 1">
   <img src="https://via.placeholder.com/305x205" alt="Фото 2">
   <img src="https://via.placeholder.com/305x205" alt="Фото 3">
</section>

<nav>
    <a href="/">Главная</a>
    <a href="/about/">О нас</a>
    <a href="/contacts/">Контакты</a>
</nav>

<footer>
    <p>Телефон: +7-777-1234567</p>
    <p>Email: info@example.com</p>
    <p> Наш проект</p>
</footer>


</body>
</html>